header {
    height: 50px;
}
.meniu ul, footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    height: 100%;
}

.meniu li {
    float: right;
    margin: auto;
}

.meniu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.meniu li a:hover {
    background-color: #111111;
}

.lygiuoti_kairen {
    float: left;
}
.lygiuoti_desinen {
    float: right;
}
.logo_wraper {
    background-color: #333333;
}
.logo {
    display: block;
    height: inherit;
}
.logo_wraper, .meniu {
    width: 50%;
    display: inline;
    height: 100%;
}