.gebejimai {

}

.gebejimai .progress_bar {
    width: 60%;
    height: 20px;
    position: relative;
    background: lightsteelblue;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px midnightblue;

}

.progress_bar > div {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(154, 77, 77, 0.9);
    position: relative;
    overflow: hidden;
}

.gebejimai span {
    float: left;
    width: 100px;
    margin: 1px;
    padding-top: 1%;
}

.gebejimai li {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    clear: both;
    display: flex;
    border: 1px solid limegreen;
}

.gebejimai .progress {
    height: 20px;
    background-color: salmon;
    text-align:center;
}

#c_sharp {
    width: 50%;
}

#java {
    width: 35%;
}

#html {
    width: 40%;
}

#css {
    width: 40%;
}

#jscript {
    width: 20%;
}

#sql {
    width: 25%;
}

#unity3d {
    width: 50%;
}