header {
    height: 100px;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.meniu ul, footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6e060e;
    display: flex;
    height: 100%;
}

.meniu li {
    float: right;
    margin: auto;
}

.meniu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.meniu li a:hover {
    background-color: #111111;
}

.lygiuoti_kairen {
    float: left;
}

.lygiuoti_desinen {
    float: right;
}

.logo_wrapper {
    background-color: #6e060e;
}

.logo {
    display: block;
    height: inherit;
}

.logo_wrapper, .meniu {
    width: 50%;
    display: inline;
    height: 100%;
}

.container {
    display: flex;
}

.container > .cont {
    width: 1200px;
    margin: 0 auto;
    display: table;
}

.container .pirmas {
    width: 24%;
    height: 100%;
    border: 1px dashed black;
    border-right: 2px solid black;
}

.cont .antras {
    width: 74%;
    height: 100%;
    border: 1px dashed orangered;
    padding-left: 5px;
    padding-right: 5px;
}

.galva {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid aquamarine;
}

.wrapper {
    height: 100%;
}

.pirmas hr{
    width: 90%;
}

/*
.progress_bar{
    height: 30px;
    width: 100px;
    border: 1px solid black;
}*/
