.meniu ul, footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.meniu li {

    float: right;

}
.meniu li {

    float: right;

}
.logo li {

    float: left;

}
.lygiuoti_kairen {

    float: left;
}
.lygiuoti_desinen{
    float: right;

}
.meniu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.meniu li a:hover {
    background-color: #111111;
}
